In [7]:
# From given data set print first and last five rows
import pandas as pd

# read the csv file and print first & 5 last rows
df = pd.read_csv('Automobile_data.csv').head(5).append(df.tail(5))

print(df)

index      company   body-style  wheel-base  length engine-type  \
0       0  alfa-romero  convertible        88.6   168.8        dohc
1       1  alfa-romero  convertible        88.6   168.8        dohc
2       2  alfa-romero    hatchback        94.5   171.2        ohcv
3       3         audi        sedan        99.8   176.6         ohc
4       4         audi        sedan        99.4   176.6         ohc
56     81   volkswagen        sedan        97.3   171.7         ohc
57     82   volkswagen        sedan        97.3   171.7         ohc
58     86   volkswagen        sedan        97.3   171.7         ohc
59     87        volvo        sedan       104.3   188.8         ohc
60     88        volvo        wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
0              four         111               21  13495.0
1              four         111               21  16500.0
2               six         154               19  16500.0
3              four         102               24  13950.0
4              five         115               18  17450.0
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [27]:
# Find the most expensive car company name
import pandas as pd
df = pd.read_csv('Automobile_data.csv')

# boolean to check where price equals to max price and select company and price
maxPrice = df.loc[df['price'] == df['price'].max(), ['company','price']]

print(maxPrice)

company    price
35  mercedes-benz  45400.0

In [28]:
# Print All Toyota Cars details
import pandas as pd
df = pd.read_csv('Automobile_data.csv')

# group by company and select toyota
carDetails = df.groupby('company').get_group('toyota')

print(carDetails)

index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

In [24]:
# Count total cars per company
import pandas as pd
df = pd.read_csv('Automobile_data.csv')

# select company and count how many cars each company has
countCars = df['company'].value_counts()

print(countCars)

toyota           7
bmw              6
mazda            5
nissan           5
mercedes-benz    4
volkswagen       4
audi             4
mitsubishi       4
jaguar           3
porsche          3
chevrolet        3
alfa-romero      3
honda            3
isuzu            3
volvo            2
dodge            2
Name: company, dtype: int64

In [29]:
# Find each companyâ€™s highest priced car
import pandas as pd
df = pd.read_csv('Automobile_data.csv')

# group by company and select companys based on highest price car
highPriceCars = df.groupby('company')['company', 'price'].max()

print(highPriceCars)

company    price
company
alfa-romero      alfa-romero  16500.0
audi                    audi  18920.0
bmw                      bmw  41315.0
chevrolet          chevrolet   6575.0
dodge                  dodge   6377.0
honda                  honda  12945.0
isuzu                  isuzu   6785.0
jaguar                jaguar  36000.0
mazda                  mazda  18344.0
mercedes-benz  mercedes-benz  45400.0
mitsubishi        mitsubishi   8189.0
nissan                nissan  13499.0
porsche              porsche  37028.0
toyota                toyota  15750.0
volkswagen        volkswagen   9995.0
volvo                  volvo  13415.0

In [30]:
# Find the average mileage of each car making company
import pandas as pd
df = pd.read_csv('Automobile_data.csv')

# group by company and select company and avg mileage and count mean
mileage = df.groupby('company')['company', 'average-mileage'].mean()

print(mileage)

average-mileage
company
alfa-romero          20.333333
audi                 20.000000
bmw                  19.000000
chevrolet            41.000000
dodge                31.000000
honda                26.333333
isuzu                33.333333
jaguar               14.333333
mazda                28.000000
mercedes-benz        18.000000
mitsubishi           29.500000
nissan               31.400000
porsche              17.000000
toyota               28.714286
volkswagen           31.750000
volvo                23.000000

In [31]:
# Sort all cars by Price column
import pandas as pd
df = pd.read_csv('Automobile_data.csv')

# sort columns by price in decending orde
sortByPrice = df.sort_values(by=['price'], ascending = False)

print(sortByPrice)

index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc
..    ...            ...          ...         ...     ...         ...
27     36          mazda    hatchback        93.1   159.1         ohc
13     16      chevrolet    hatchback        88.4   141.1           l
22     31          isuzu        sedan        94.5   155.9         ohc
23     32          isuzu        sedan        94.5   155.9         ohc
47     63        porsche    hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0
..              ...         ...              ...      ...
27             four          68               30   5195.0
13            three          48               47   5151.0
22             four          70               38      NaN
23             four          70               38      NaN
47            eight         288               17      NaN

[61 rows x 10 columns]